#circle {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 50px;
  margin: 20px 0px 0px 20px;
  position: absolute;
}

#square {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 0px;
  position: absolute;
  margin: 20px 0px 0px 150px;
}

#color-square {
  width: 100px;
  height: 100px;
  border-top: 2px solid blue;
  border-left: 2px solid green;
  border-bottom: 2px solid red;
  border-right: 2px solid yellow;
  border-radius: 0px;
  position: absolute;
  margin: 20px 0px 0px 280px;
}

#color-square-2{
  width: 0px;
  height: 0px;
  border-top: 50px solid blue;
  border-left: 50px solid green;
  border-bottom: 50px solid red;
  border-right: 50px solid yellow;
  border-radius: 0px;
  position: absolute;
  margin: 20px 0px 0px 410px;
  
}

#triangle {
  width: 0px;
  height: 0px;
  border-top: 50px solid transparent;
  border-left: 50px solid transparent;
  border-bottom: 50px solid red;
  border-right: 50px solid transparent;
  position: absolute;
  margin: 20px 0px 0px 560px;
 
}

#triangle-2 {
  width: 0px;
  height: 0px;
  border-top: 0px solid green;
  border-left: 50px solid transparent;
  border-bottom: 100px solid red;
  border-right: 50px solid transparent;
  position: absolute;
  margin: 20px 0px 0px 680px;
}

.triangle-border {
  width: 0;
  height: 0;
  position: absolute;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
  margin: 20px 0px 0px 820px;
}

.inner-triangle {
  top: 24px;
  right: 26px;
  position: relative;
  width: 0;
  height: 0;
  border-left: 26px solid transparent;
  border-right: 26px solid transparent;
  border-bottom: 60px solid blue;
}
